templateSpider/log/*.log
.idea
templateSpider/common/*.pyc
templateSpider/spiders/*.pyc
templateSpider/test/*.pyc
templateSpider/__pycache__/*.pyc
templateSpider/common/__pycache__/*.pyc
templateSpider/spiders/__pycache__/*.pyc